<p class="my-0"><strong>{{ item.product.name }}</strong></p>
<p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
<p class="mb-0 text-dark fw-bold">Color: {{ item.color }}</p>
<p class="mb-0 text-dark fw-bold">Opacity: {{ item.opacity }}</p>
<p class="mb-0 text-dark fw-bold">Height<span class="text-muted">(inches)</span>: {{ item.height }}</p>
<p class="mb-0 text-dark fw-bold">Width<span class="text-muted">(inches)</span>: {{ item.width }}</p>
<p class="mb-0 text-dark fw-bold">Diameter: {{ item.diameter }}</p>