{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row d-flex justify-content-center ">
        <h1 class="text-center mt-5 fs-1 fw-bolder">Choose Your Style</h1>

        <div class="btn-group rounded shadow btn-group-lg p-0 mt-5" id="home-buttons" role="group"
            aria-label="Button links to products">
            <a class="link-dark h-btn btn fw-bold" aria-label="Button link to Cassettes"
                href="{% url 'products' %}?category=Cassette">Cassette</a>
            <a class="link-dark h-btn btn border-start border-end fw-bold" aria-label="Button link to Horizontals"
                href="{% url 'products' %}?category=Horizontal">Horizontal</a>
            <a class="link-dark h-btn btn fw-bold" aria-label="Button link to Rollershades"
                href="{% url 'products' %}?category=Rollershade">Rollershade</a>
        </div>

    </div>
    <div class="info-blind bg-light mt-3">
        <h2 class="mt-5 text-center fw-bolder">Information on blinds</h2>
        <ul class="p-0 text-center">
            <li class="p-2"><a class="fs-4 mobile-hmpg mt-3 bg-light h-btn shadow border rounded w-100 px-2"
                    href="https://en.wikipedia.org/wiki/Window_blind" target="_blank">What types of blinds are
                    there?</a></li>
            <li><a class="fs-4 mt-3 bg-light mobile-hmpg h-btn shadow border rounded w-100 px-2"
                    href="https://www.architecturaldigest.com/story/how-to-clean-blinds" target="_blank">How to clean
                    blinds</a></li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="row">
        {% for testimonial in testimonials.all %}
            <div class="container testimonial shadow px-1 mb-2 bg-white rounded">
                <span class="fw-normal fst-italic me-1">"{{ testimonial.head }}"</span>
                <hr>
                <p class="fw-normal fs-4">"{{ testimonial.content }}"</p>
                <p class="fw-normal me-1 fs-5">{{ testimonial.created_by }} Rated: {{ testimonial.rating }}</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}