html {
    height: 100%;
}

body {
    
    background: url('/media/homepage.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}
 
a:visited {
    text-decoration: none;
  }

.dropdown-toggle::after {
    content: none;
}

/* homepage css ------------------------------------------------------------ */
#home-buttons {
    background: white;
}

/* footer css ------------------------------------------------------------ */
footer h2 {
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}

footer li {
    font-size: 13px;
}

#social-icon:hover {
    border-style: solid 1px;
    border-color:  rgb(0, 179, 255);
}

footer i:hover {
    color: rgb(0, 179, 255);
}

footer a:hover {
    text-decoration: underline;
  }

/* Navbar css ------------------------------------------------------------ */
.navbar {
    background: #00be00;
    z-index: 99999;
}

.navbar-brand {
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}

#account-icon {
    margin-left: 21px;
    font-size: 21px;
}

#cart-icon {
    margin-left: 2px;
    font-size: 21px;
}

/* Media Query ------------------------------------------------------------ */
@media (min-width: 991px){
    .nav-item {
        padding-inline: 6px;
    }
    .grow { 
        transition: all .2s ease-in-out; 
    }
        
    .grow:hover { 
        transform: scale(1.1);
    }

    #nav-cart:hover, #nav-account:hover {
        text-decoration: underline;
    }

}

@media (max-width: 991px){
    .nav-item { 
        transition: all .2s ease-in-out;
        width: 6em;
    }
        
    .nav-item:hover { 
        text-decoration: underline;
    }
    
}