html {
    height: 100%;
}

body {
    
    background: url('/media/homepage.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

li {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}
 
a:visited {
    color: inherit;
    text-decoration: none;
  }

.dropdown-toggle::after {
    content: none;
}

.overlay {
    height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1; 
}

.img-fluid {
    float: left;
    width:  20em;
    height: 20em;
    object-fit: cover;
}

.dd-menu {
    left: -3rem!important;
}

.end-buttons {
    font-weight: bold;
}

.end-buttons:hover {
    text-decoration: underline;
}
/* toasts css ------------------------------------------------------------ */
.toast-index {
    z-index: 99999;
}
/* homepage css ------------------------------------------------------------ */
#home-buttons {
    background: white;
}
/* products css ------------------------------------------------------------ */
#card:hover {
    border: solid grey -1px;
}
/* product detail css ------------------------------------------------------------ */
.asteriskField {
    display: none;
}

.control-group {
    margin-bottom: 1rem;
}

.numberinput {
    width: 20%;
}

.help-block {
    display: none;
}

.show, .hide {
    color: blue;
}

/* radio css */
input[type='radio'] {
    box-sizing: border-box;
    appearance: none;
    background: white;
    outline: 1px solid rgb(0, 0, 0);
    border: 3px solid white;
    width: 20px;
    height: 20px;
    margin-inline: 5px;
}
  
input[type='radio']:checked {
    outline: 3px solid rgb(0, 0, 0);
}

#id_color_0 {
    background: black;
    border: 3px solid black;
}

#id_color_1 {
    background: white;
    border: 3px solid white;
}

#id_color_2 {
    background: blue;
    border: 3px solid blue;
}

#id_color_3 {
    background: red;
    border: 3px solid red;
}

#id_color_4 {
    background: green;
    border: 3px solid green;
}
/* cart css ------------------------------------------------------------ */
.cart-img {
    width: 200px;
    height: 200px;
}

.update-cart:hover, .remove-cart-item:hover {
    text-decoration: underline;
    cursor: pointer;
}
/* checkout css ------------------------------------------------------------ */
.text-info:hover {
    text-decoration: underline;
}

.form-check-input:hover {
    cursor: pointer;
}

#loading-overlay {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(23, 162, 184, .85);
    z-index: 9999;
}

.loading-spinner {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

/* STRIPE css  */
.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid black;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
}

select,
select option {
    color: #000000;
}

select:invalid,
select option[value=""] {
    color: #aab7c4 !important;
}

#loading-overlay {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(23, 162, 184, .85);
    z-index: 9999;
}

.loading-spinner {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}
/* footer css ------------------------------------------------------------ */
footer h2 {
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}

footer li {
    font-size: 13px;
}

#social-icon:hover {
    border-style: solid 1px;
    border-color:  rgb(0, 179, 255);
}

footer i:hover {
    color: rgb(0, 179, 255);
}

footer a:hover {
    text-decoration: underline;
  }

/* Navbar css ------------------------------------------------------------ */
.navbar {
    background: #049d04;
    z-index: 99999;
}

.navbar-brand {
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}

#account-icon {
    margin-left: 21px;
    font-size: 21px;
}

.account-list, hr {
    color: black!important;
}

#cart-icon {
    margin-left: 2px;
    font-size: 21px;
}

/* Allauth CSS ------------------------------------------------------------ */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    color: black
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	text-decoration: underline;
}



/* Media Query ------------------------------------------------------------ */
@media (min-width: 991px){
    .nav-item {
        padding-inline: 6px;
    }
    .grow { 
        transition: all .2s ease-in-out; 
    }
        
    .grow:hover { 
        transform: scale(1.1);
    }

    #nav-cart:hover, #nav-account:hover {
        text-decoration: underline;
    }

}

@media (max-width: 991px){
    .nav-item { 
        transition: all .2s ease-in-out;
        width: 7em;
        text-align: center;
    }
        
    .nav-item:hover { 
        text-decoration: underline;
    }

    .dd-menu {
        width: fit-content;
    }

    #account-span {
        padding-left: 1.1rem;
    }
    
    #nav-cart {
        padding-left: 1em;
    }

    #home-buttons {
        display: flex;
        flex-direction: column;
        width: fit-content;
    }
}