{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container shadow p-5 pt-2 m-auto bg-light w-50">
  <h2 class="fw-bold mt-1">{% trans "Register" %}</h2>
  <hr class="mt-0">

  <p>{% blocktrans %}Already have an account? Then please <a class="button text-primary" href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

  <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ form|crispy }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="btn-dark rounded"><a href="{% url 'account_login' %}">Back to Login</a></button>
    <button type="submit" class="rounded btn-dark">{% trans "Register" %}</button>
  </form>
</div>
{% endblock %}