<p>Hello {{ order.full_name }}!</p>

<p>This is a confirmation of your order from CSAN. 
Your order information:<br>
<br>
Order Number: {{ order.order_number }}<br>
Order Date: {{ order.date }}<br>
<br>
Order Total: ${{ order.order_total }}<br>
Delivery: ${{ order.delivery_cost }}<br>
Grand Total: ${{ order.grand_total }}<br>
<br>
Your order will be shipped to {{ order.street_address1 }} in {{ order.town_or_city }}, {{ order.country }}.<br>
<br>
Your phone number is saved as {{ order.phone_number }}.<br>
<br>
If you have any questions, feel free to contact us at {{ contact_email }}.<br>
<br>
If you want to change your saved information please log into your account at https://csan.herokuapp.com/accounts/login/<br>
<br>
Thank you for your order!<br>
<br>
Sincerely,<br>
<br>
CSAN</p>