{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_js %}
    {{ block.super }}
    <script src="/static/js/product_detail.js"></script>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="image-container my-5">
                {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank">
                    <img class="card-img-top img-fluid mb-2" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid mb-2" src="{{ MEDIA_URL }}/media/noimage.png" alt="{{ product.name }}">
                </a>
                {% endif %}
            </div>
            
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="product-details-container mb-5 mt-md-5">
                <h2 class="mb-1">{{ product.name }}</h2>
                <p class="lead mb-0 text-left font-weight-bold">${{ product.price }}</p>
                {% if product.get_rating > 0 %}
                <span class="lead fs-6">Rating: {{ product.get_rating }} / 5</span> <br>
                {% else %}
                <span class="lead fs-6">No ratings yet</span> <br>
                {% endif %}

                {% if request.user.is_superuser %}
                <small class="ml-3">
                    <a class="text-primary" href="{% url 'edit_product' product.id %}">Edit</a> |
                    <a class="text-danger confirm-delete" href="{% url 'delete_product' product.id %}">Delete</a>
                </small>
                {% endif %}
                <p class="half-content">{{ product.description|truncatechars:100 }}<a href="javascript:void();"
                        class="show"> read more</a>
                </p>
                <p class="full-content" style="display: none;">{{ product.description }}<a href="javascript:void();"
                        class="hide"> read less</a>
                </p>
                <p class="text-primary">
                    <a href="https://www.thespruce.com/measuring-inside-mount-window-blinds-1977734" rel="sponsored">How do I measure my window for a blind?</a><br>
                    <a href="https://www.angi.com/articles/4-types-window-treatments-set-mood-any-room.htm">What opacity do I need?</a>
                </p>
                <form class="form-css" action="{% url 'add_to_cart' product.id %}" method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" class="btn btn-dark rounded text-light text-uppercase end-buttons w-50" id="submit-btn" type="submit" value="Add to Cart">
                    <br>
                    {% if request.user.is_authenticated %}
                    <a href="{% url 'add_to_wishlist' product.id %}" class="btn btn-wish btn-dark text-light text-uppercase rounded mt-3 w-50 end-buttons">
                        Add to Wishlist
                    </a>
                        <br>
                    {% endif %}
                    <a href="{% url 'home'%}" class="btn btn-dark text-uppercase text-light rounded mt-3 end-buttons w-50">
                        Keep Shopping
                    </a>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        {% if request.user.is_authenticated %}
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2 mt-3">
                <form class="form-css" action="." method="POST">
                    {% csrf_token %}
                    {{ rform|crispy }}
                    <input type="submit" class="btn btn-dark rounded text-light text-uppercase mt-0 end-buttons" id="submit-btn" value="Submit Review">
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </form>
            </div>
        {% endif %}
        <hr class="mt-2">
        <div class="container text-center w-75 mb-2"><h3>Reviews</h3></div>
            {% for review in product.reviews.all %}
                <div class="container shadow px-1 mb-2 bg-grey rounded w-75">
                    <i class="far fa-user pe-1 mb-2"></i><span class="fw-normal me-1">{{ review.created_by }}</span>
                    <strong>Rating: </strong> <span class="fw-normal">{{ review.rating }}/5</span> <br>
                    <span class="fw-normal">{{ review.created_at|date:"F-Y" }}</span><hr class="mt-1">
                    <p class="fw-normal">{{ review.content }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endblock %}