{% extends "socialaccount/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Social Network Login Failure" %}{% endblock %}

{% block content %}
<div class="container mobile shadow p-5 pt-2 m-auto bg-light h-50 w-50">
    <h2>{% trans "Social Network Login Failure" %}</h2>
    <hr class="mt-0">

    <p>{% trans "An error occurred while attempting to login via your social network account. <br> please try again." %}
    </p>
    <p class="pt-3"><button class="btn-dark rounded"><a href="{% url 'account_login' %}">Back to Login</a></button></p>
    <hr>
    <p>Code: {{ auth_error.code }}, Error: {{ auth_error.exception }}</p>
</div>
{% endblock %}