<div class="position-relative rounded toast-index">
    <div class="toast-container position-absolute p-3 top-0 end-0">
        <div class="toast">
            <div class="toast-header bg-danger text-light fw-bold">
                <strong class="mr-auto text-uppercase fs-4">Error!</strong>
            </div>
            <div class="toast-body bg-white text-dark overflow-auto">
                <div class="row">
                    <div class="col fw-bold">
                        {{ message }}
                        <hr class="mt-1 mb-3">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>